* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: lightcoral;
}

h2 {
  margin: 2rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: white;
}


input {
  width: 80%;
  font-size: 1.2rem;
  color: gray;
}

ol {
  margin: 0;
  padding: 0;
}

.category {
  color: white;
  text-align: right;
  margin: 0 1rem 1rem 0;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 800;
}
.input-group {
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 160px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-custom {
  background-color: lightcyan;
  border: 1px solid blue;
}

.button-custom{
  margin-top: 1rem;
  width: 40%;
}