* {
  font-family: Helvetica, Arial, sans-serif;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 160px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-custom {
  background-color: lightcyan;
  border: 1px solid blue;
}

.button-custom{
  margin-top: 1rem;
  width: 40%;
}